@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #0E1420;
  --foreground: #EDEEF2;
}

body {
  color: #EDEEF2;
  background-color: #0E1420;
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
